version: "3.8"
services:
  mariadb:
    image: mariadb:10.11
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./mariadb/data:/var/lib/mysql
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - ./mongo/data:/data/db

  app:
    image: app:latest
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    volumes:
      - ./src:/app/src
    depends_on:
      - mariadb
      - mongo

volumes:
  mariadb_data:
  mongo_data: