services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=root
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
   db_data:      
